# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
React-base/node_modules
React-base/.pnp
React-base/.pnp.js

# testing
React-base/coverage

# production
React-base/build

# misc
React-base/.DS_Store
React-base/.env.local
React-base/.env.development.local
React-base/.env.test.local
React-base/.env.production.local

React-base/npm-debug.log*
React-base/yarn-debug.log*
React-base/yarn-error.log*


# Node server
# Next-js\nasa-fetcher-server
# ENV
NASA-React-Fetcher\Next-js\nasa-fetcher-server-js/.env
# dependencies
NASA-React-Fetcher\Next-js\nasa-fetcher-server-js/node_modules
NASA-React-Fetcher\Next-js\nasa-fetcher-server-js/.pnp
NASA-React-Fetcher\Next-js\nasa-fetcher-server-js.pnp.js

# testing
NASA-React-Fetcher\Next-js\nasa-fetcher-server-js/coverage

# next.js
NASA-React-Fetcher\Next-js\nasa-fetcher-server-js/.next/
NASA-React-Fetcher\Next-js\nasa-fetcher-server-js/out/

# production
NASA-React-Fetcher\Next-js\nasa-fetcher-server-js/build

# misc
NASA-React-Fetcher\Next-js\nasa-fetcher-server-js/.DS_Store
NASA-React-Fetcher\Next-js\nasa-fetcher-server-js/*.pem

# debug
NASA-React-Fetcher\Next-js\nasa-fetcher-server-js/npm-debug.log*
NASA-React-Fetcher\Next-js\nasa-fetcher-server-js/yarn-debug.log*
NASA-React-Fetcher\Next-js\nasa-fetcher-server-js/yarn-error.log*
NASA-React-Fetcher\Next-js\nasa-fetcher-server-js/.pnpm-debug.log*

# local env files
NASA-React-Fetcher\Next-js\nasa-fetcher-server-js/.env*.local

# vercel
NASA-React-Fetcher\Next-js\nasa-fetcher-server-js/.vercel

# typescript
NASA-React-Fetcher\Next-js\nasa-fetcher-server-js/*.tsbuildinfo
NASA-React-Fetcher\Next-js\nasa-fetcher-server-js/next-env.d.ts